<%- include('includes/loggedOutNav') %>

<div class="container py-md-5 container--narrow">
  <p class="display-4">Student Book Exchange</p>
  <%- include('includes/flashalerts') %>
  <br><br>
  <h2> <%= fname %>&nbsp;<%= lname %></h2>
      <!-- for someone else's prof page -->
      <p class="small"><%= email %></p><br>
      <form class="ml-2 d-inline" action="mailto: <%= email %>" method="POST">
      <button class="btn btn-info my-2">Contact <%= fname %></button><br>
    </form>
    
  <br><br>
    <h5><%= fname %>'s Books</h5>
    <small>Click Title for Details</small>
    <br><br>
    
    <% if (books.length){ %>
    <% books.forEach(function(book) { %>
  <div id="accordion">
        <div class="card" id="<%= book._id %>">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link booktitle" data-toggle="collapse" data-target="#collapseOne_<%= book._id %>" aria-expanded="false" aria-controls="collapseOne_<%= book._id %>">
                <strong><%= book.title %></strong>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne_<%= book._id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <table class="table">
                  <thead class="bg-info text-white">
                    <tr>
                      <th scope="col">ISBN</th>
                      <th scope="col">Author</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Course</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><%= book.isbn %></th>
                      <td><%= book.author %></td>
                      <td><%= book.subject %></td>
                      <td><%= book.course %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
      <% })} else  { %>
        <p>No Books Added Yet</p>
        <% } %> %>
</div>
</body>
</html>