<%- include('includes/loggedOutNav') %>

<div class="container py-md-5 container--narrow">
  <p class="display-4">Student Book Exchange</p>
  <%- include('includes/flashalerts') %>
  <a href="search"><small>&larr; Back to Search</small></a>
  <br><br>
  <h4>Search Results</h4>
  <% if (books.length){ %>
    <% books.forEach(function(book) { %>
  <div id="accordion">
        <div class="card" id="<%= book._id %>">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne_<%= book._id %>" aria-expanded="false" aria-controls="collapseOne_<%= book._id %>">
                <strong><%= book.title %></strong>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne_<%= book._id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <table class="table">
                  <thead class="bg-info text-white">
                    <tr>
                      <th scope="col">ISBN</th>
                      <th scope="col">Author</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Course</th>
                      <th scope="col">Owner</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><%= book.isbn %></th>
                      <td><%= book.author %></td>
                      <td><%= book.subject %></td>
                      <td><%= book.course %></td>
                      <td><a href="/guestprofile/<%= book.user.email %>">Go to Profile</a></td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
      <% })} else  { %>
        <p>No Results Found</p>
        <% } %> %>
</div>
</body>

</html>