<%- include('includes/loggedInNav') %>

  <div class="container py-md-5 container--narrow">
    <h2> <%= fname %>&nbsp;<%= lname %>
      <form class="ml-2 d-inline" action="mailto: <%= email %>" method="POST">
        <button class="btn btn-info">Message</button>
      </form>
    </h2>
    <p><a href = "mailto: <%= email %>"><%= email %></a></p>
    
  
    <div class="profile-nav nav nav-tabs pt-2 mb-4">
      <a href="#" class="profile-nav-link nav-item nav-link active">Books</a>
    </div>
  
    <div class="list-group">

    </div>
  </div>
</body>
</html>