<%- include('includes/loggedInNav') %>

    <div class="container py-md-5 container--narrow">
      <div class="d-flex justify-content-between">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ISBN</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Course</th>
                  <th scope="col">User</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><%= book.isbn %></th>
                  <td><%= book.title %></td>
                  <td><%= book.author %></td>
                  <td><%= book.subject %></td>
                  <td><%= book.course %></td>
                  <td>
                      <a href="/profile/<%= book.user.email %>"
                      ><button type="button" class="btn btn-info btn-small">
                        Find
                      </button></a
                    ></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </body>
</html>
