<%- include('includes/loggedInNav') %>

<div class="container py-md-5 container--narrow">
  <div class="d-flex justify-content-between">
    <table class="table">
      <thead class="bg-info text-white">
        <tr>
          <th scope="col">ISBN</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Subject</th>
          <th scope="col">Course</th>
          <% if (book.isVisitorOwner) { %>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
          <% } else { %>
          <th scope="col">User</th>
          <% }%>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%= book.isbn %></th>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.subject %></td>
          <td><%= book.course %></td>
          <% if (book.isVisitorOwner) { %>
          <td>
              <form action="/book/<%= book._id %>/edit" method="POST"><button class="btn btn-link"><i
                class="fas fa-edit"></i></button></form> </td>
          <td>
            <form action="/book/<%= book._id %>/delete" method="POST"><button class="btn btn-link text-danger"><i
                  class="fas fa-minus-circle"></i></button></form>
                  
          </td>
          <% } else { %>
          <td><a href="/profile/<%= book.user.email %>">User</a></td>
          <% }%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

</html>